/* === FOOTER === */
footer {
  background: #000;
  padding: 40px 8%;
  color: #ccc;
  font-size: 0.9em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 22%;
}

.footer-col a {
  text-decoration: none;
  color: #ccc;
}

.footer-col a:hover {
  color: #fff;
}

.logo-footer {
  font-weight: 700;
  font-size: 1.2em;
}

.logo-footer span {
  color: #fff;
}
