/* === NAVBAR === */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 30px;
}

.menu-icon {
  font-size: 1.8em;
  cursor: pointer;
}

.logo {
  font-size: 1.8em;
  font-weight: 700;
}

.dot {
  color: #fff;
}

.search-bar input {
  width: 280px;
  background: #d6a5f7;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  outline: none;
  color: #000;
  font-weight: 500;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-login, .btn-register {
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.btn-login {
  background: linear-gradient(to right, #752881, #ff0077);
  color: #fff;
  transition: 0.5s;
}

.btn-login:hover{
  transform:  scale(1.05);
  background: linear-gradient(to right, #a846b8, #e44a92);
}
.btn-register {
  background: linear-gradient(to right, #752881, #ff0077);
  color: #fff;
  transition: 0.5s;
}
.btn-register:hover{
  transform:  scale(1.05);
  background: linear-gradient(to right, #a846b8, #e44a92);
}
.user-icon {
  width: 45px;
  height: 45px;
  background: #ffffff;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transition: 0.5s;
}

.user-icon:hover {
  transform: scale(1.05);
}

.btnNotificaciones{
  transition: 0.5s;
}
.btnNotificaciones:hover{
  transform: scale(1.2);
}
/* === SIDEBAR === */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(6px);
  transition: 0.4s ease;
  padding-top: 80px;
  z-index: 200;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar.active {
  left: 0;
}

/* === MENÚ PRINCIPAL === */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px 25px;
  cursor: pointer;
  font-size: 0.95em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-left: 3px solid #b44cff;
}

.icon {
  color: #b44cff;
  font-size: 1.2em;
}

.submenu-title {
  margin-top: 10px;
  color: #b44cff;
  font-weight: 600;
}

.submenu {
  list-style: none;
  padding-left: 45px;
  margin-top: 5px;
}

.submenu li {
  padding: 5px 0;
  font-size: 0.9em;
  color: #ddd;
}

/* === OVERLAY === */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 150;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* === ICONO DEL MENÚ === */
.menu-icon {
  z-index: 300;
  position: relative;
  font-size: 1.8em;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  transition: 0.3s;
}
