/* === CONFIGURACIÓN GENERAL === */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0a0a0a;
  color: white;
    overflow-x: hidden;
}

h1, h2, h4, p {
  margin: 0;
}


/* === IMAGEN PRINCIPAL === */

.imgprincipal {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* === SECCIÓN CONSULTAS === */
.consultas {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 10%;
  background: linear-gradient(to bottom, #000, #120023);
}

.consultas-text {
  width: 50%;
}

.consultas-text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.consultas-text h2 span {
  color: #00b7ff;
}

.consultas-text p {
  margin-bottom: 20px;
  line-height: 1.5;
}


.consultas-img {
  width: 45%;
}

.consultas-img img {
  width: 100%;
  border-radius: 10px;
}

/* === SECCIÓN REGISTRO === */
.registro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 10%;
  background: linear-gradient(to bottom, #120023, #000);
}

.registro-img {
  width: 45%;
}

.registro-img img {
  width: 100%;
  border-radius: 10px;
}

.registro-text {
  width: 50%;
}

.registro-text h4 {
  color: #f14cff;
  font-weight: 600;
  margin-bottom: 10px;
}

.registro-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.registro-text h2 span {
  color: #00b7ff;
}

.registro-text .desc {
  margin-top: 20px;
  line-height: 1.5;
}
