body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, #0a0013, #1a0033);
  color: white;
  overflow-x: hidden;
}


/* === HERO === */
.hero {
  text-align: center;
  padding: 100px 0 60px 0;
  background: linear-gradient(90deg, #7b00ff, #ff0077);
}

.hero h1 {
  font-size: 2.5em;
  font-weight: 700;
}

/* === CONTENIDO === */
.contenido {
  padding: 60px 10%;
  line-height: 1.7;
  font-size: 1.1em;
  color: #eee;
}

.contenido span {
  color: #ff4cbf;
}

.botones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 60px;
}

.botones a {
  background: linear-gradient(90deg, #ff4c9d, #9d00ff);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.botones a:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #9d00ff, #ff4c9d);
}
